# Basic Statistic with phyton
Source of Data set about google play store user review is from csv file
*<p>googleplaystore_user_reviews.csv*

*<p> Author  : Bangun Maysar*
*<p> Date    : 10 October 2019*

In [2]:
# Start with import library panda and statistic

In [5]:
import pandas as pd
import statistics as st

In [1]:
# Read data frame and import to df_review variable.

#### 1. Load googleplaystore_user_reviews.csv file and assign it as df_review

In [6]:
df_review=pd.read_csv('googleplaystore_user_reviews.csv')

In [7]:
df_review.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

#### 2. Total rows and columns for df_review

In [9]:
df_review.shape

(64295, 5)

In [10]:
#Total Row and collumn
print ('TOTAL ROW    =',df_review.shape[0])
print ('TOTAL COLUMN =',df_review.shape[1])

TOTAL ROW    = 64295
TOTAL COLUMN = 5

#### 3. How many NaN value in dataset for Translated_Review column

In [13]:
df_review.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [14]:
sum(pd.isnull(df_review['Translated_Review']))

26868

#### 4.Perform drop all NaN values and assign as new data frame named df_rev_clean!

In [12]:
#df_rev_clean = df_review.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df_rev_clean = df_review.dropna()

#### 5. Total rows and columns of data grame df_rev_clean

In [13]:
df_rev_clean.shape

(37427, 5)

#### 6. Simple random sampling with only 3 sample towards df_rev_clean with random_state=10 without replacement

In [16]:
df_rev_clean.sample(n=3, random_state=10, replace=False)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
12028,Badoo - Free Chat & Dating App,Rubbish app.,Neutral,0.0,0.0
35092,Docs To Go™ Free Office Suite,Very lite app..,Positive,0.2,0.3
48816,Free & Premium VPN - FinchVPN,"Nice, works Android 8",Positive,0.6,1.0

#### 7. Stratified random sampling for each sentiment (Neutral, Positive, and Negative)

In [17]:
fn = lambda x: x.sample(n=10, random_state=10, replace=False)
df_sample = df_rev_clean.groupby('Sentiment', as_index=False).apply(fn)

#### 8.The mode value of Sentiment from df_rev_clean data frame.

In [14]:
st.mode(df_rev_clean.Sentiment)

'Positive'

####  9. The mode value of Sentiment on df_sample data frame is error because of no unique mode

In [18]:
st.mode(df_sample.Sentiment)

StatisticsError: no unique mode; found 3 equally common values

####  10. Total Number of positive, negative, neutral from data fram df_rev_clean column Sentiment

In [24]:
df_rev_clean['Sentiment'].value_counts()

Positive    23998
Negative     8271
Neutral      5158
Name: Sentiment, dtype: int64

#### 11. The mean value Sentiment Subjectivity of 'Angry Birds Classic

In [28]:
filter = df_rev_clean['App'] == 'Angry Birds Classic'

In [29]:
df_rev_clean[filter].mean()

Sentiment_Polarity       -0.007537
Sentiment_Subjectivity    0.534886
dtype: float64

#### 12. Total Angry Birds Classic rows were included in df_rev_clean data frame

In [32]:
len(df_rev_clean[filter])

273

#### 13. Median value of Sentiment Polarity of 'Candy Crush Saga'

In [33]:
filter2 = df_rev_clean['App'] == 'Candy Crush Saga'

In [34]:
df_rev_clean[filter2].median()

Sentiment_Polarity       -0.011023
Sentiment_Subjectivity    0.481629
dtype: float64

#### 14. Apps has highest number of rows in the dataset from data fram df_rev_clean

In [36]:
df_rev_clean['App'].value_counts().head()

Bowmasters                        312
Angry Birds Classic               273
Helix Jump                        273
Calorie Counter - MyFitnessPal    254
Duolingo: Learn Languages Free    240
Name: App, dtype: int64

#### 15. Correlation value between Sentiment Polarity and Sentiment Subjectivity using pearson method

In [42]:
#df_rev_clean.filter(like="Sentiment_").corr(method='spearman')
df_rev_clean.corr(method='pearson')

                        Sentiment_Polarity  Sentiment_Subjectivity
Sentiment_Polarity                1.000000                0.261587
Sentiment_Subjectivity            0.261587                1.000000